body {
    width: 355px;
    height: 2400px;
    background: linear-gradient(#abe3f6, #abe3f6, #1c90b5);
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    border-width: 10px;
    font-size:15px;
}

h3 {
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left:25px;
    margin-right:25px;
}

a:link {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: brown;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: brown;
    background-color: transparent;
    text-decoration: underline;
}

.center {
    margin: auto;
    width: 50%;
   
  }

  #toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    font-size: 95%;
    margin-bottom: 1em;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    padding-left: 0px !important;
}